<header>
  <form>
    <mat-form-field>
      <input matInput value="..." [(ngModel)]="part" name="query"/>
    </mat-form-field>
    <button mat-button routerLink="search/{{part}}">Search</button>
  </form>
  <div>
    <button mat-button>Log Out</button>
  </div>
</header>
