﻿@using Backend.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model List<SoundCollection>
<body>
    <a href="/Home/Logs/">Logs</a>
    @foreach (var playlist in Model)
    {
        <div>
            <img src="api/playlists/@playlist.SoundCollectionId/photo">
            @playlist.Name
        </div>
        <a href="/Home/Songs/@playlist.SoundCollectionId">Songs</a>
    }
</body>

