﻿@using Backend.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model List<Sound>
<body>
    <a href="/Home/Logs/">Logs</a>
    @foreach (var sound in Model)
    {
    <div>
        <audio controls>
            <source src="api/songs/@sound.SoundId" type="audio/mp3">
        </audio>
        @sound.Author - @sound.Name
    </div>
    }
</body>

