<div class="playlist-container">
  <div class="img-container">
    <img class="playlist-img" [src]="url"/>
  </div>
  <div>
    <button mat-button (click)="onClickDelete()">Delete</button>
  </div>
  <div>
    {{ playlist.name }}
  </div>
</div>
