.playlist-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 300px;
  max-height: 150px;
}

.playlist-img {
  max-width: 300px;
  max-height: 150px;
}
