<div class="audio-container">
  <mat-label>{{song.author}} - {{song.name}}</mat-label>
  <audio controls>
    <source [src]="url" type="audio/mp3">
  </audio>
  <button mat-button (click)="onClickDelete()">Delete</button>
</div>
