<button mat-button (click)="goBack()"></button>
<div *ngIf="songs.length">
  <app-user-track *ngFor="let song of songs" [song]="song"></app-user-track>
  <button *ngIf="songs.length > counter"  mat-button (click)="onClickMoreSongs()">More</button>
</div>
<div *ngIf="playlists.length">
  <app-user-playlist *ngFor="let playlist of playlists" [playlist]="playlist"></app-user-playlist>
  <button *ngIf="playlists.length > counter" mat-button (click)="onClickMorePlaylists()">More</button>
</div>
<div *ngIf="users.length">
  <div *ngFor="let user of users"> <a routerLink="/users/{{user.nickname}}">{{user.nickname}}</a></div>
  <button *ngIf="users.length > counter"  mat-button (click)="onClickMoreUsers()">More</button>
</div>
