<div class="preview">
  <div>
    <div class="img-container">
      <img class="user-pic" [src]="url"/>
    </div>
    <div *ngIf="selectedUser === identityUser.nickname" class="form-group">
      <label for="file">Choose File</label>
      <input type="file"
             id="file"
             (change)="handleFileInput($event.target.files)">
    </div>
  </div>
  <div class="info-container">
    <mat-label>
      {{ selectedUser }}
    </mat-label>
    <button mat-button>Message</button>
  </div>
</div>
