.preview {
  display: flex;
  background-color: lightsalmon;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  max-width: 300px;
  max-height: 150px;
}

.user-pic {
  -webkit-clip-path: circle(75px at 50% 50%);
  clip-path: circle(75px at 50% 50%);
  max-width: 300px;
  max-height: 150px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}
